[data-rehype-pretty-code-fragment] code,
[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] [data-line],
[data-rehype-pretty-code-figure] [data-line] {
  @apply px-4 py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > [data-line]::before,
[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted,
[data-rehype-pretty-code-figure] .line--highlighted {
  @apply bg-slate-300 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span,
[data-rehype-pretty-code-figure] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted,
[data-rehype-pretty-code-figure] .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
  @apply mt-4  py-2 text-sm font-medium;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

.image-container {
  @apply flex flex-col items-center justify-center;
}

.image-container img {
  @apply my-9;
}

.mdx {
  @apply dark:text-gray-300;
}

.mdx strong {
  @apply text-black dark:text-gray-100;
}

.embed {
  @apply relative mt-8 -mx-6;
}

.embed > div {
  @apply h-0;
}

.embed > div > iframe {
  @apply top-0 left-0 absolute border-none;
  height: 100% !important;
  width: 100% !important;
  border-radius: 0 !important;
}
